@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323-Regular.woff2") format("truetype");
  font-weight: 400;
}

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "VT323", monospace;

  --color-cream: #ffecb3ff;
  --color-lime: #b9ff7fff;
  --color-petal: #ff4287ff;
  --color-wine: #700a27ff;
}

:root {
  --wine: #700a27ff;
  --petal: #ff4287ff;

  --pixel-border: 4px;
}

.pixel-border-grape {
  box-shadow:
    0 calc(var(--pixel-border) * -1) 0 0 var(--wine),
    0 var(--pixel-border) 0 0 var(--wine),
    calc(var(--pixel-border) * -1) 0 0 0 var(--wine),
    var(--pixel-border) 0 0 0 var(--wine);
  margin: var(--pixel-border);
}

.pixel-border-petal {
  box-shadow:
    0 calc(var(--pixel-border) * -1) 0 0 var(--petal),
    0 var(--pixel-border) 0 0 var(--petal),
    calc(var(--pixel-border) * -1) 0 0 0 var(--petal),
    var(--pixel-border) 0 0 0 var(--petal);
  margin: var(--pixel-border);
}
