---
import Skill from "../ui/Skill.astro";
---

<div
  class="text-wine pixel-bg-stars bg-cream/30 grid w-full place-items-center p-20 bg-blend-soft-light"
>
  <div class="bg-cream border-wine/30 grid place-items-center border-1 p-2">
    <div
      class="border-wine flex flex-col items-center justify-center gap-10 border-3 border-dashed px-20 py-14"
    >
      <h2 class="font-mono text-5xl">Mi Stack principal</h2>
      <div class="grid grid-cols-3 gap-4">
        <Skill>C#</Skill>
        <Skill>.Net</Skill>
        <Skill>Blazor</Skill>
        <Skill>Go</Skill>
        <Skill>BubbleTea</Skill>
        <Skill>JavaScript</Skill>
        <Skill>WebComponents</Skill>
        <Skill>Astro</Skill>
        <Skill>TailwindCSS</Skill>
        <Skill>PostgreSQL</Skill>
        <Skill>Git</Skill>
        <Skill>Aseprite</Skill>
      </div>
    </div>
  </div>
</div>
