---
import Skill from "@/components/ui/Skill.astro";
---

<div
  class="text-wine pixel-bg-stars bg-cream/30 grid w-full place-items-center bg-blend-soft-light sm:p-10"
>
  <div
    class="bg-cream border-wine/30 grid place-items-center border-none sm:border-1 sm:p-2"
  >
    <div
      class="border-wine flex flex-col items-center justify-center gap-1 border-3 border-none p-2 sm:border-dashed sm:p-6"
    >
      <h2 class="text-center font-mono text-3xl md:text-5xl">
        Here's my go-to stack
      </h2>
      <h3
        class="text-wine/85 text-center font-mono text-xl md:mb-8 md:text-3xl"
      >
        the languages and tools I use most often
      </h3>
      <div class="grid grid-cols-3 gap-1 md:gap-4">
        <Skill>C#</Skill>
        <Skill>.Net</Skill>
        <Skill>Blazor</Skill>
        <Skill>Go</Skill>
        <Skill>BubbleTea</Skill>
        <Skill>JavaScript</Skill>
        <Skill>WebComponents</Skill>
        <Skill>Astro</Skill>
        <Skill>TailwindCSS</Skill>
        <Skill>PostgreSQL</Skill>
        <Skill>Git</Skill>
        <Skill>Aseprite</Skill>
      </div>
    </div>
  </div>
</div>
