---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <div
    class="text-sand bg-petal flex h-screen w-screen items-center justify-center p-12"
  >
    <div class="flex max-w-7xl flex-col gap-6 font-mono">
      <span class="text-[150px]">:(</span>

      <p class="text-7xl">404 - OH NO! Rompiste la web!</p>

      <div class="font-display flex flex-col gap-1 text-2xl opacity-85">
        <span>código de error: 404_PAGE_NOT_FOUND</span>
      </div>

      <a
        href="/"
        class="pixel-border-petal bg-sand text-petal w-fit px-4 py-1.5 text-4xl hover:scale-105 active:scale-95"
      >
        arreglar!
      </a>
    </div>
  </div>
</BaseLayout>
