---
interface Props {
  label: string;
  target: string;
}

const { label, target } = Astro.props;
---

<button
  class="app-icon group flex cursor-pointer flex-col items-center"
  data-target={target}
>
  <div class="hover:scale-110 active:scale-90">
    <slot />
  </div>
  <span class="text-wine font-mono text-lg md:text-2xl xl:text-4xl"
    >{label}</span
  >
</button>
