---
interface Props {
  label: string;
  target: string;
}

const { label, target } = Astro.props;
---

<button
  class="app-icon group flex cursor-pointer flex-col items-center gap-2"
  data-target={target}
>
  <span class="text-3xl">
    <div class="hover:scale-110 active:scale-90">
      <slot />
    </div>
    <span class="text-grape font-mono text-3xl">{label}</span>
  </span>
</button>
