---
import AppIcon from "./AppIcon.astro";
import Window from "./Window.astro";

import AboutMe from "./sections/AboutMe.astro";
import Projects from "./sections/Projects.astro";
import Skills from "./sections/Skills.astro";
import Contact from "./sections/Contact.astro";

import Berry from "./icons/app/Berry.astro";
import Btn from "./icons/app/Btn.astro";
import Bug from "./icons/app/Bug.astro";
import Mug from "./icons/app/Mug.astro";
---

<div class="desktop flex h-screen items-center justify-between overflow-hidden">
  <!-- iconos del escritorio -->
  <div class="flex flex-col">
    <div class="icons my-auto grid w-fit grid-cols-2 gap-6 p-12">
      <AppIcon label="about me" target="window-about">
        <Berry size="100" />
      </AppIcon>

      <AppIcon label="projects" target="window-projects">
        <Btn size="100" />
      </AppIcon>

      <AppIcon label="skills" target="window-skills">
        <Mug size="100" />
      </AppIcon>

      <AppIcon label="contact" target="window-contact">
        <Bug size="100" />
      </AppIcon>
    </div>
    <div class="group relative h-64 w-64 overflow-hidden">
      <img
        src="./hola-static.png"
        alt="GIF"
        class="h-full w-full object-cover group-hover:hidden"
      />
      <img
        src="./hola.gif"
        alt="GIF"
        class="hidden h-full w-full object-cover group-hover:block"
      />
    </div>
  </div>

  <!-- ventanas -->
  <div class="my-auto w-fit">
    <Window id="window-about" title="about me.">
      <AboutMe />
    </Window>

    <Window id="window-projects" title="my projects and experience.">
      <Projects />
    </Window>

    <Window id="window-skills" title="skills, languages and technologies.">
      <Skills />
    </Window>

    <Window id="window-contact" title="contact me.">
      <Contact />
    </Window>
  </div>
</div>

<script>
  document.getElementById("window-about")?.classList.remove("hidden");

  const allWindows = () => document.querySelectorAll(".window");

  document.querySelectorAll(".app-icon").forEach((icon) => {
    icon.addEventListener("click", () => {
      const target = icon.getAttribute("data-target");
      allWindows().forEach((w) => w.classList.add("hidden"));
      document.getElementById(target)?.classList.remove("hidden");
    });
  });

  document.querySelectorAll(".close-btn").forEach((btn) => {
    btn.addEventListener("click", () => {
      const target = btn.getAttribute("data-target");
      document.getElementById(target)?.classList.add("hidden");
    });
  });
</script>
