---
import AppIcon from "./AppIcon.astro";
import Window from "./Window.astro";
import AboutMe from "./sections/AboutMe.astro";
import Projects from "./sections/Projects.astro";
import Skills from "./sections/Skills.astro";
import Contact from "./sections/Contact.astro";
import Clock from "./ui/Clock.astro";
---

<div class="desktop grid h-screen place-items-center px-2 pb-10 2xl:p-10">
  <div
    class="mx-auto my-auto flex flex-col items-center justify-center 2xl:static 2xl:flex-row 2xl:gap-20"
  >
    <!-- ventanas -->
    <div class="order-1 w-full p-4 2xl:order-2">
      <Clock />
      <Window id="window-about" title="about me.">
        <AboutMe />
      </Window>

      <Window id="window-projects" title="my projects and experience.">
        <Projects />
      </Window>

      <Window id="window-skills" title="languages and technologies.">
        <Skills />
      </Window>

      <Window id="window-contact" title="contact me.">
        <Contact />
      </Window>
    </div>

    <!-- iconos -->
    <div
      class="icons fixed bottom-16 order-2 grid grid-cols-4 gap-12 py-4 2xl:static 2xl:order-1 2xl:w-auto 2xl:grid-cols-2 2xl:gap-6"
    >
      <AppIcon label="about me" target="window-about">
        <img src="/app/berry.png" alt="" class="w-20 cursor-pointer 2xl:w-28" />
      </AppIcon>

      <AppIcon label="projects" target="window-projects">
        <img src="/app/btn.png" alt="" class="w-20 cursor-pointer 2xl:w-28" />
      </AppIcon>

      <AppIcon label="skills" target="window-skills">
        <img src="/app/mug.png" alt="" class="w-20 cursor-pointer 2xl:w-28" />
      </AppIcon>

      <AppIcon label="contact" target="window-contact">
        <img src="/app/bug.png" alt="" class="w-20 cursor-pointer 2xl:w-28" />
      </AppIcon>

      <!-- gif solo en desktop -->
      <div class="top-4 left-2 hidden h-64 w-64 overflow-hidden p-2 2xl:flex">
        <img src="./hola.gif" alt="GIF" class="h-full w-full object-cover" />
      </div>
    </div>
  </div>

  <script>
    document.getElementById("window-about")?.classList.remove("hidden");
    const allWindows = () => document.querySelectorAll(".window");
    document.querySelectorAll(".app-icon").forEach((icon) => {
      icon.addEventListener("click", () => {
        const target = icon.getAttribute("data-target");
        allWindows().forEach((w) => w.classList.add("hidden"));
        document.getElementById(target)?.classList.remove("hidden");
      });
    });
    document.querySelectorAll(".close-btn").forEach((btn) => {
      btn.addEventListener("click", () => {
        const target = btn.getAttribute("data-target");
        document.getElementById(target)?.classList.add("hidden");
        document.getElementById("clock")?.classList.remove("hidden");
      });
    });
  </script>
</div>
