---

---

<button
  class="dw-cv pixel-border border-sand/60 bg-petal hover:bg-petal/90 border-t-3 px-4 py-1 font-mono text-2xl text-white hover:scale-105 active:scale-95 md:text-4xl"
>
  <slot />
</button>

<script>
  document.querySelectorAll(".dw-cv").forEach((btn) => {
    btn.addEventListener("click", () => {
      const a = document.createElement("a");
      a.href = "/Melissa_Gutierrez-Desarrolladora_de_Software.pdf";
      a.download = "Melissa_Gutierrez-Desarrolladora_de_Software.pdf";
      a.click();
    });
  });
</script>
